<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">

<head th:fragment="baseheader(title)">
    <meta charset="UTF-8">
    <title th:replace="${title}">This is the base title</title>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap-icons/font/bootstrap-icons.min.css}">

    <link rel="stylesheet" type="text/css" href="/css/chefmind.css" />
    <link rel="stylesheet" type="text/css" href="/css/recipeOverview.css" />
</head>

<body>

<nav th:fragment="navbar" class="navbar">
    <a class="nav-brand" th:href="@{/category/all}">ChefMind</a>
    <ul class="navbar-items">
        <li class="nav-item">
            <a class="nav-link" th:href="@{/category/all}">Recipes</a>
        </li>
    </ul>
    <ul class="navbar-nav ms-auto flex-row">
        <li class="nav-item">
            <form th:action="@{/recipe/search}" method="get">
                <div style="display: flex; gap: 8px; align-items: center;">
                    <input type="search" name="query" placeholder="Look for recipe"/>
                    <button type="submit" class="search-button">Search</button>
                </div>
            </form>
        </li>
        <li class="nav-item" sec:authorize="isAuthenticated()">
            <a class="nav-link" th:href="@{/user/all}">Users</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/login}">Login</a>
            <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/logout}">Logout <span sec:authentication="name"></span></a>
        </li>
    </ul>
</nav>

<div th:fragment="recipeCards"class="recipe-grid">
    <a th:href="@{/recipe/new}" class="hyperlink-card" sec:authorize="isAuthenticated()">
        <div class="recipe-card add-card">
            <i class="bi bi-plus-lg"></i>
            <h2>Add Recipe</h2>
        </div>
    </a>
    <div th:each="recipe : ${recipes}">
        <a th:href="@{/recipe/detail/{name}(name = ${recipe.name})}" class="hyperlink-card">
            <div class="recipe-card">
                <img th:src="${recipe.image}" alt="nothing">
                <div class="recipe-info">
                    <h3 th:text="${recipe.name}"></h3>
                    <h4><i class="bi bi-people-fill" style="font-size: 1.1rem;"></i></i></i>️
                        <span th:text="${recipe.servingSize}">4</span> &nbsp;
                        <i class="bi bi-clock-fill" style="font-size: 0.9rem;"></i>
                        <span th:text="${recipe.calculateTotalTime()}">30</span> min
                    </h4>
                </div>
            </div>
        </a>
    </div>
</div>

<div th:fragment="footer">
    <footer>
        <p class="text-center text text-muted">
            Copyright Assib Pajman, Harm van der Weide & Nelleke Jansen &copy;2025
        </p>
    </footer>
</div>

<div th:fragment="bottomScripts">
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</div>

</body>
</html>