* {
    box-sizing: border-box;
}
body {
    display: flex;
    min-height: 100vh;
    min-width: 100vw;
    /*align-content: start;*/
    flex-direction: column;
    background-color: #F6F1EC;
    color: #1D6813;
    margin: 0px;
}

/* Containers inside of the app */
.contentContainer {
    display: flex;
    padding: 12px;
    flex-direction: row;
    padding: 12px;
    min-height: 100%;
    min-width: 100%;
}

.innerContainer {
    display: flex;
    flex-direction: column;
    padding: 12px;
    max-width: 300px;
    border-radius: 12px;
    background-color: #ede8e3;
}

.leftContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    min-width: 30vw;
}

.rightContainer {
    display: flex;
    flex-direction: column;
    align-items: start;
    min-height: 100%;
    min-width: 70vw;
}

/* Buttons */
.categoryButton {
    display: flex;
    height: 28px;
    padding: 2px 8px 2px 8px;
    color: #1D6813;
    text-decoration: none;
}

.categoryButton:hover{
    display: inline-block;
    padding: 2px 8px 2px 8px;
    border-radius: 2px;
    background-color: #1D6813;
    color: #F6F1EC;
}

.categoryButtonRemove {
    display: flex;
    justify-content: start;
    position: relative;
    top: 2px;
    padding: 2px 8px 2px 8px;
    text-decoration: none;
    color: #E04507;
}

.categoryButtonContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.categoryButtonContainer:hover {
    background-color: #1D6813;
}

.categoryFormButton{
    margin-left: 4px;
    display: flex;
    padding: 2px 12px;
    background-color: #1D6813;
    color: #F6F1EC;
    border-radius: 4px;
    border: none;
    text-decoration: none;
}

.categoryForm {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-grow: 1;
}

.categoryLabel {
    display: inline-block;
    padding: 2px 8px 2px 8px;
    border-radius: 2px;
    margin: 4px;
    background-color: #1D6813;
    color: #F6F1EC;
    text-decoration: none;
}


.active {
    text-decoration: underline;
}

.navbar {
    display: flex;
    align-content: center;
    justify-content: start;
    min-height: 5vh;
    min-width: 100%;
    padding-left: 12px;
    padding-right: 12px;
    flex-direction: row;
    margin: 0px;
    background-color: #ede8e3;
}

.navbar-items {
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    list-style-type: none;
}

.nav-brand {
    margin: 0px;
    font-family: "Microsoft Sans Serif", serif;
    font-weight: bolder;
    align-content: center;
    text-decoration: none;
    color: #1D6813;
}

.nav-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
}

.nav-link {
    margin: 0px;
    font-family: "Microsoft Sans Serif", serif;
    padding-left: 1rem;
    padding-right: 1rem;
    text-decoration: none;
    color: #1D6813;
}

.button-custom {
    display: flex;
    padding: 2px 12px;
    background-color: #1D6813;
    color: #F6F1EC;
    border-radius: 4px;
    border: none;
    text-decoration: none;
    margin-right: 12px;
    margin-top: 8px;
    box-shadow: none;
}

.formField {
    display: flex;
    flex-grow: 1;
    height: 24px;
    border-radius: 2px;
    color: #1D6813;
    background-color: #dddddd;
    border: 20px #1D6813;
}

.recipe-part {
    padding: 16px 2.5rem 16px 2.5rem;
    border-bottom: 2px solid;
    border-color: #1D6813;
    min-width: 100%;
}

.recipeForm {
    margin-bottom: 12px;
}

.recipeFormField {
    padding-left: 15rem;
    padding-right: 15rem;
    margin-bottom: 4px;
}

.recipeFormFieldCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
    margin-bottom: 8px;
}

.h1-form {
    margin-top: 1.5rem;
    text-align: center;
}

.remove {
    background-color: #E04507;
    color: #F6F1EC;
    border: none;
    border-radius: 4px;
    padding: 2px 15px;
    text-decoration: none;
    margin-right: 12px;
    margin-top: 8px;
}

.save {
    background-color: #1D6813;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 31px;
    text-decoration: none;
}

.form-control {
    margin-bottom: 4px;
}

.input-group-text {
    margin-bottom: 4px;
}

.search-button {
    /*display: flex;*/
    /*padding: 2px 12px;*/
    background-color: #1D6813;
    color: #F6F1EC;
    border-radius: 4px;
    border: none;
    /*text-decoration: none;*/
    /*margin-right: 12px;*/
    /*margin-top: 8px;*/
    /*box-shadow: none;*/
}

/* Page | recipeDetails */

.informationContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 95vh;
    padding: 12px;
    min-height: 100%;
    min-width: 100%;
}

.recipeTitle {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 12px;
    width: 100%;
    border: 1px solid #1D6813;
    background-color: #F6F1EC;
    font-family: sans-serif;
    font-weight: lighter;
}

.recipeContainerLeft {
    display: flex;
    flex-direction: column;
    width: 40vw;
}

.recipeInfoContainer {
    display: flex;
    padding-top: 12px;
    flex-direction: row;
    flex-wrap: wrap;
}

.recipeInfo {
    display: flex;
    min-width: auto;
    height: 60px;
    padding: 12px;
    margin-right: 12px;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    border: 1px solid #1D6813;
    background-color: #F6F1EC;
    font-family: "Microsoft Sans Serif";
    font-weight: 100;
}

.edit {
    background-color: #2C3FAB;
    color: #F6F1EC;
    border: none;
    border-radius: 8px;
    padding: 2px 10px;
    text-decoration: none;
    margin-right: 12px;
    margin-top: 8px;
}

.editRemove {
    position: static;
}

.imageBackground {
    /*display: flex;*/
    position: absolute;
    height: 100vh;
    z-index: -1;
    overflow: hidden;
}

.imageInBackground {
    width: 100vw;
    height: 100vh;
    justify-self: center;
    overflow: hidden;
}

.recipeIngredientContainer {
    display: flex;
    min-width: auto;
    height: 280px;
    padding: 12px;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #1D6813;
    background-color: #F6F1EC;
    font-family: "Microsoft Sans Serif";
    font-weight: 100;
}

.recipeIngredientInnerContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.ingredientTableHead {
    margin-bottom: 12px;
}

.h1 {
    margin: 0px;
}