body {
    display: flex;
    min-height: 100vh;
    min-width: 100vh;
    align-content: start;
    flex-direction: column;
    background-color: #F6F1EC;
    color: #064119;
    margin: 0px;
    box-sizing: border-box;
}

div {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

.top-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    min-height: 40vh;
    background-position: -14px -14px;
    background-size: 28px 28px;
    background-image:
            linear-gradient(to right, rgba(15, 102, 44, 0.5) 1px, transparent 1px),
            linear-gradient(to bottom, rgba(15, 102, 44, 0.5) 1px, transparent 1px);
    border-bottom: 2px solid #064119;
}

.bot-div {
    display: flex;
    flex-direction: column;
    min-height: 50vh;
}

.categoryForm {
    position: relative;
    top: 17px;

}

.navbar {
    display: flex;
    align-content: center;
    justify-content: start;
    min-height: 5vh;
    min-width: 100%;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    flex-direction: row;
    margin: 0px;
    /*background-color: #e1d4be;*/
    border-bottom: 2px solid #064119;
}

.navbar-items {
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    list-style-type: none;
    align-content: center;
    justify-content: center;
    flex-direction: row;
}

.nav-brand {
    margin: 0px;
    font-family: "Microsoft Sans Serif", serif;
    font-weight: bolder;
    align-content: center;
    text-decoration: none;
    color: #064119;
}

.nav-link {
    margin: 0px;
    padding-left: 1rem;
    padding-right: 1rem;
    text-decoration: none;
    color: #064119;
}

.button-custom {
    display: inline-block;
    padding: 4px 32px;
    background-color: #064119;
    color: white;
    border-radius: 8px;
    text-decoration: none;
}

.formField {
    width: 320px;
    height: 34px;
    border-radius: 8px;
    border: 20px #064119;
}

.button-custom:hover{
    background-color: #064119;
    color: white;
}