* {
    box-sizing: border-box;
}
body {
    display: flex;
    min-height: 100vh;
    min-width: 100vw;
    align-content: start;
    flex-direction: column;
    background-color: #F6F1EC;
    color: #1D6813;
    margin: 0px;
    box-sizing: border-box;
}

.top-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    min-height: 40vh;
    background-position: -14px -14px;
    background-size: 28px 28px;
    background-image:
            linear-gradient(to right, rgba(15, 102, 44, 0.5) 1px, transparent 1px),
            linear-gradient(to bottom, rgba(15, 102, 44, 0.5) 1px, transparent 1px);
    border-bottom: 2px solid #064119;
}

.bot-div {
    display: flex;
    flex-direction: column;
    min-height: 50vh;
}

.categoryForm {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.categoryLabel {
    display: inline-block;
    padding: 2px 8px 2px 8px;
    border-radius: 2px;
    background-color: #1D6813;
    color: #F6F1EC;
}

.contentContainer {
    display: flex;
    padding: 12px;
    flex-direction: row;
    min-height: 100%;
}

.innerContainer {
    display: flex;
    flex-direction: column;
    padding: 12px;
    max-width: 300px;
    border-radius: 12px;
    background-color: #ede8e3;
}

.leftContainer {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    min-width: 30vw;

}

.rightContainer {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    min-width: 70vw;
}

.categoryButton {
    display: flex;
    flex-direction: column;
    padding: 2px 8px 2px 8px;
    color: #1D6813;
    text-decoration: none;
}

.categoryButton:hover{
    display: inline-block;
    padding: 2px 8px 2px 8px;
    border-radius: 2px;
    background-color: #1D6813;
    color: #F6F1EC;
}

.active {
    text-decoration: underline;
}

.navbar {
    display: flex;
    align-content: center;
    justify-content: start;
    min-height: 5vh;
    min-width: 100%;
    padding-left: 12px;
    padding-right: 12px;
    flex-direction: row;
    margin: 0px;
    /*background-color: #e1d4be;*/
    border-bottom: 2px solid #064119;
}

.navbar-items {
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    list-style-type: none;
    align-content: center;
    justify-content: center;
    flex-direction: row;
}

.nav-brand {
    margin: 0px;
    font-family: "Microsoft Sans Serif", serif;
    font-weight: bolder;
    align-content: center;
    text-decoration: none;
    color: #1D6813;
}

.nav-link {
    margin: 0px;
    padding-left: 1rem;
    padding-right: 1rem;
    text-decoration: none;
    color: #1D6813;
}

.button-custom {
    display: flex;
    padding: 2px 12px;
    background-color: #1D6813;
    color: #F6F1EC;
    border-radius: 4px;
    border: none;
    text-decoration: none;
    margin-right: 12px;
    margin-top: 8px;
    box-shadow: none;
}

.formField {
    display: flex;
    flex-grow: 1;
    height: 24px;
    border-radius: 2px;
    color: #1D6813;
    background-color: #dddddd;
    border: 20px #1D6813;
}

.button-custom:hover{
    /*background-color: #064119;*/
    color: #F6F1EC;
}

.recipe-part {
    padding: 16px 2.5rem 16px 2.5rem;
    border-bottom: 2px solid;
    border-color: #1D6813;
    min-width: 100%;
}

.recipeForm {
    margin-bottom: 12px;
}

.recipeFormField {
    padding-left: 15rem;
    padding-right: 15rem;
    margin-bottom: 4px;
}

.h1-form {
    text-align: center;
}

.remove {
    background-color: #E04507;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 2px 10px;
    text-decoration: none;
    margin-right: 12px;
    margin-top: 8px;
}

.form-control {
    margin-bottom: 4px;
}

.input-group-text {
    margin-bottom: 4px;
}