body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: stretch;
    min-height: 100vh;
    background-color: #F6F1EC;
    color: #064119;
    margin: 0px;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

.navbar-custom {
}

.button-custom {
    display: inline-block;
    padding: 6px 32px;
    background-color: #064119;
    color: white;
    border-radius: 8px;
}

.button-custom:hover{
    background-color: #064119;
    color: white;
}