body {
    background-color: #F6F1EC;
    color: #064119;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

.navbar-custom {
}

.button-custom {
    display: inline-block;
    padding: 6px 12px;
    background-color: #064119;
    color: white;
    text-decoration: none;
    border-radius: 4px;
}