body {
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
    align-content: space-between;
}

h1 {
    min-width: 100%;
}

.recipe-part {
    border-style: solid;
    border-color: #064119;
    min-width: 100%;
    padding: 0.5rem;
}