.recipe-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
    justify-items: center;
    padding: 20px;
}

.recipe-card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 12px;
    padding: 12px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.08);

    width: 300px;
    height: auto;
    margin: 10px;
}

.recipe-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 12px;
}

.recipe-info {
    text-align: center;
    margin-top: 10px;
}

.recipe-info a {
    font-weight: 600;
    font-size: 1.1rem;
    text-decoration: none;
    color: #064119;
}