<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head     th:replace="~{fragments/general :: baseheader(~{:: title})}">
    <title>Your Categories</title>
</head>

<body>

<div th:replace="~{fragments/general :: navbar}"></div>

<div class="top-div">
    <div class="categoryForm">
        <h1>Categories</h1>

        <form th:action="@{/category/new}" method="post" th:object="${formCategory}">
            <input type="hidden" th:field="*{categoryId}">

            <input class="formField" type="text" th:field="*{categoryName}">
            <input class="button-custom" type="submit" value="add">
        </form>
    </div>
</div>

<div class="bot-div">
    <table>
        <tr th:each="category : ${allCategories}">
            <td th:text="${category.categoryName}"></td>
        </tr>
    </table>
</div>



<div class="footer">
    <div th:replace="~{fragments/general :: footer}"></div>
    <div th:replace="~{fragments/general :: bottomScripts}"></div>
</div>


</body>
</html>