<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recipe details</title>

<!--    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">-->
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap-icons/font/bootstrap-icons.min.css}">
    <link rel="stylesheet" type="text/css" href="/css/chefmind.css" />
</head>

<body>
<div class="imageBackground">
    <img class="imageInBackground" th:src="${recipe.image}" alt="nothing">
</div>

<nav class="navbar">
    <a class="nav-brand" th:href="@{/recipe/all}">ChefMind</a>
    <div class="navbar-items">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/category/all}">Categories</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/recipe/all}">Recipes</a>
            </li>
    </div>
</nav>

<div class="informationContainer">
    <div class="informationTopContainer">
        <div class="recipeTitle">
            <h1 th:text="${recipe.name}"></h1>
            <div class="editRemove" sec:authorize="isAuthenticated()">
                <a class="edit" th:href="@{/recipe/edit/{name}(name = ${recipe.name})}">
                    <i class="bi bi-pencil-fill"></i> Edit</a>
                <button class="remove" data-bs-toggle="modal" data-bs-target="#recipeModal">
                    <i class="bi bi-trash-fill"></i>Remove</button>

                <a class="remove" th:href="@{/recipe/delete/{recipeId}(recipeId = ${recipe.recipeId})}">
                    <i class="bi bi-trash-fill"></i> Remove</a>
            </div>
        </div>

        <div class="recipeInfoContainer">
            <div class="recipeInfo">
                <p>Servings: <span th:text="${recipe.servingSize}"></span></p>
            </div>
            <div class="recipeInfo">
                <p><span th:text="${recipe.calculateTotalKcalPerServing()}"></span> kcal per serving</p>
            </div>
            <div class="recipeInfo">
                <p>Prep: <span th:text="${recipe.prepTime}"></span> mins</p>
            </div>
            <div class="recipeInfo">
                <p>Cook: <span th:text="${recipe.cookingTime}"></span> mins</p>
            </div>
            <div class="recipeInfo">
                <p>Total: <span th:text="${recipe.calculateTotalTime()}"></span> mins</p>
            </div>
            <div class="recipeInfo">
                <p><b>Categories:</b>
                    <a class="categoryLabel" th:each="category : ${recipe.categories}"
                       th:href="@{/category/{name}(name = ${category.categoryName})}"
                       th:text="${category.categoryName}"></a></p>
            </div>
        </div>
    </div>

    <div class="recipeIngredientContainer">
        <div class="recipeIngredientInnerContainer">
            <table>
                <thead class="ingredientTableHead">
                <tr>
                    <td>Ingredient</td>
                    <td>Amount</td>
                </tr>
                </thead>

                <tbody>
                <tr th:each="ingredientUse : ${recipe.getIngredientUses()}">
                    <td th:text="${ingredientUse.ingredient.ingredientName}"></td>
                    <td th:text="${ingredientUse.amount}"></td>
                </tr>
                </tbody>
            </table>

            <div>
                <a><b>Instructions:</b></a>
                <ol>
                    <li th:each="instruction: ${recipe.instructions}"
                        th:if="${!#strings.isEmpty(instruction)}"
                        th:text="${instruction}"></li>
                </ol>
            </div>

        </div>
        <div th:replace="~{fragments/general :: footer}"></div>
    </div>
</div>

    <div th:replace="~{fragments/general :: bottomScripts}"></div>

</body>
</html>