<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments/general :: baseheader(~{:: title})}">
    <title>Add a recipe</title>
</head>
<body>
    <div th:replace="~{fragments/general :: navbar}"></div>

    <h1 th:if="${formRecipe.recipeId == null}">Add a new recipe</h1>
    <h1 th:unless="${formRecipe.recipeId == null}" th:text="|Edit ${formRecipe.name}|"></h1>

    <form th:action="@{/recipe/save}" method="post" th:object="${formRecipe}">
        <input type="hidden" th:field="*{recipeId}">

        <div>
            Recipe name: <input type="text" th:field="*{name}" required>
        </div>
        <div>
            Serving size: <input type="text" th:field="*{servingSize}">
        </div>
        <div>
            Cooking time: <input type="text" th:field="*{time}"> minutes
        </div>
        <div>
            Categories:
            <select th:field="${formRecipe.categories}" multiple>
                <option th:each="category : ${allCategories}"
                        th:text="${category.categoryName}"
                        th:value="${category.categoryId}">
                </option>
            </select>
        </div>
        <div>
            Instructions:
        </div>
        <div th:each="existingInstruction, iteration : *{instructions}">
            <input type="text"
                   th:field="*{instructions[__${iteration.index}__]}"
                   th:placeholder="'Step ' + ${iteration.index + 1}">
        </div>

        <div id="addedInstructions" th:attr="data-count=${#lists.size(formRecipe.instructions)}"></div>

        <button type="button" onclick="addInput()">Add a step</button>

        <script>
            const addedInstructions = document.getElementById("addedInstructions");
            let count = parseInt(addedInstructions.dataset.count);

            function addInput() {

                const step = document.createElement("input");
                step.type = "text";
                step.placeholder = `Step ${count + 1}`;
                step.name = `instructions[${count}]`

                addedInstructions.appendChild(step);
                addedInstructions.appendChild(document.createElement("br"));

                count++;
            }
        </script>
        <div><input class="btn button-custom" type="submit" value="Save recipe"></div>
    </form>

    <div th:replace="~{fragments/general :: footer}"></div>
    <div th:replace="~{fragments/general :: bottomScripts}"></div>

</body>
</html>