<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments/general :: baseheader(~{:: title})}">
    <title>Add a recipe</title>
</head>
<body>
    <div th:replace="~{fragments/general :: navbar}"></div>

    <div>
        <h1 class="h1-form" th:if="${formRecipe.recipeId == null}">Add a new recipe</h1>
        <h1 class="h1-form" th:unless="${formRecipe.recipeId == null}" th:text="|Edit ${formRecipe.name}|"></h1>
    </div>

    <form th:action="@{/recipe/save}" method="post" th:object="${formRecipe}"
          class="recipeForm" enctype="multipart/form-data">
        <input type="hidden" th:field="*{recipeId}">
        <input type="hidden" th:field="*{author.userId}" />

        <div class="row g-3 recipeFormField">
            <div class="col-md-9">
                <label class="form-label">Recipe name</label>
                <input type="text" class="form-control" th:field="*{name}"
                       th:classappend="${#fields.hasErrors('name')} ? ' is-invalid' : ''" required>
                <div class="invalid-feedback" th:errors="*{name}"></div>
            </div>

            <div class="col-md-3">
                <label class="form-label">Serving size</label>
                <input type="number" class="form-control" th:field="*{servingSize}"
                       th:classappend="${#fields.hasErrors('servingSize')} ? ' is-invalid' : ''">
                <div class="invalid-feedback" th:errors="*{servingSize}"></div>
            </div>
        </div>

        <div class="recipeFormField">
            <label class="form-label">Image URL</label>
            <input type="text" class="form-control" th:field="*{imageURL}">
        </div>

        <div class="recipeFormField">
            <label for="imageFile" class="form-label">Upload image</label>
            <input type="file" id="imageFile" name="recipeImage" accept="image/*">
        </div>

        <div class="row g-3 recipeFormField">
            <div class="col-md-6">
                <label class="col-form-label">Prep time</label>
                <div class="input-group">
                    <input type="number" class="form-control" th:field="*{prepTime}"
                           th:classappend="${#fields.hasErrors('prepTime')} ? ' is-invalid' : ''">
                    <span class="input-group-text">minutes</span>
                    <div class="invalid-feedback" th:errors="*{prepTime}"></div>
                </div>
            </div>

            <div class="col-md-6">
                <label class="col-form-label">Cooking time</label>
                <div class="input-group">
                    <input type="number" class="form-control" th:field="*{cookingTime}"
                           th:classappend="${#fields.hasErrors('cookingTime')} ? ' is-invalid' : ''">
                    <span class="input-group-text">minutes</span>
                    <div class="invalid-feedback" th:errors="*{cookingTime}"></div>
                </div>
            </div>
        </div>

        <div class="recipeFormField">
            <label class="form-label">Categories</label>
            <select class="form-select" th:field="${formRecipe.categories}" multiple size="1">
                <option th:each="category : ${allCategories}"
                        th:text="${category.categoryName}"
                        th:value="${category.categoryId}">
                </option>
            </select>
        </div>

        <br>
        <div class="recipeFormField">
            <div id="ingredients">
                <div class="row g-3">
                    <div class="col-md-2"><label class="form-label">Ingredient</label></div>
                    <div class="col-md-2"><label class="form-label">Quantity</label></div>
                    <div class="col-md-2"><label class="form-label">Unit</label></div>
                    <div class="col-md-2"><label class="form-label">Quantity in g/ml</label></div>
                    <div class="col-md-2"><label class="form-label">Kcal per 100g/ml</label></div>
                    <div class="col"></div>
                </div>

                <div th:each="use : *{ingredientUses}" class="row g-3">
                    <div class="col-md-2">
                        <input type="text" class="form-control" name="ingredientNames[]"
                               th:value="${use.ingredient.ingredientName}" placeholder="Ingredient">
                    </div>
                    <div class="col-md-2">
                        <input type="text" class="form-control" name="quantities[]" th:value="${use.quantityInUnit}"
                               placeholder="Quantity">
                    </div>
                    <div class="col-md-2">
                        <input type="text" class="form-control" name="units[]" th:value="${use.unit}"
                               placeholder="Unit">
                    </div>
                    <div class="col-md-2">
                        <input type="number" class="form-control" name="quantitiesInGrams[]"
                               th:value="${use.quantityInGrams}">
                    </div>
                    <div class="col-md-2">
                        <input type="number" class="form-control" name="kcalPer100g[]"
                        th:value="${use.ingredient.kcalPer100g}">
                    </div>
                    <div class="col">
                        <button type="button" class="remove"><i class="bi bi-trash-fill"></i>Remove</button>
                    </div>
                </div>

                <div th:if="${#lists.isEmpty(formRecipe.ingredientUses)}" class="row g-3">
                    <div class="col-md-2">
                        <input type="text" class="form-control" name="ingredientNames[]" placeholder="Ingredient">
                    </div>
                    <div class="col-md-2">
                        <input type="text" class="form-control" name="quantities[]" placeholder="Quantity">
                    </div>
                    <div class="col-md-2">
                        <input type="text" class="form-control" name="units[]" placeholder="Unit">
                    </div>
                    <div class="col-md-2">
                        <input type="number" class="form-control" name="quantitiesInGrams[]">
                    </div>
                    <div class="col-md-2">
                        <input type="number" class="form-control" name="kcalPer100g[]">
                    </div>
                    <div class="col">
                        <button type="button" class="remove"><i class="bi bi-trash-fill"></i>Remove</button>
                    </div>
                </div>
            </div>

            <div>
                <button type="button" class="button-custom" id="addIngredient">
                    <i class="bi bi-plus-lg"></i>Add another ingredient
                </button>
            </div>
        </div>

        <br>
        <div class="recipeFormField">
            <label class="form-label">Instructions</label>
            <div id="instructions"
                 th:attr="data-count=${formRecipe.instructions != null ? formRecipe.instructions.size() : 1}">
                <div th:each="existingInstruction, iteration : *{instructions}" class="row g-3">
                    <div class="col-md-10">
                        <input type="text" class="form-control"
                               th:field="*{instructions[__${iteration.index}__]}"
                               th:placeholder="'Add a step'">
                    </div>
                    <div class="col">
                        <button type="button" class="remove"><i class="bi bi-trash-fill"></i>Remove</button>
                    </div>
                </div>

                <div th:if="${#lists.isEmpty(formRecipe.instructions)}" class="row g-3">
                    <div class="col-md-10">
                        <input type="text" class="form-control"
                               th:field="*{instructions[__${0}__]}"
                               th:placeholder="'Add a step'">
                    </div>
                    <div class="col">
                        <button type="button" class="remove"><i class="bi bi-trash-fill"></i>Remove</button>
                    </div>
                </div>
            </div>

            <div>
                <button type="button" class="button-custom" id="addInstruction">
                    <i class="bi bi-plus-lg"></i> Add another step
                </button>
            </div>
        </div>

        <div class="recipeFormFieldCenter">
            <button class="save" type="submit">
                <i class="bi bi-floppy-fill"></i> Save recipe
            </button>
        </div>
    </form>

    <div th:replace="~{fragments/general :: footer}"></div>
    <div th:replace="~{fragments/general :: bottomScripts}"></div>

    <script src="/js/recipeForm.js"></script>
</body>
</html>