<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments/general :: baseheader(~{:: title})}">
    <title>Add a recipe</title>
</head>
<body>
    <div th:replace="~{fragments/general :: navbar}"></div>

    <div>
        <h1 th:if="${formRecipe.recipeId == null}">Add a new recipe</h1>
        <h1 th:unless="${formRecipe.recipeId == null}" th:text="|Edit ${formRecipe.name}|"></h1>
    </div>

    <form th:action="@{/recipe/save}" method="post" th:object="${formRecipe}">
        <input type="hidden" th:field="*{recipeId}">

        <div class="recipeForm">
            <a>
                Recipe name: <input type="text" th:field="*{name}" required>
            </a>
            <a>
                Serving size: <input type="text" th:field="*{servingSize}">
            </a>
            <a>
                Cooking time: <input type="text" th:field="*{time}"> minutes
            </a>
        </div>

        <div class="recipeForm">
            Categories:
            <select th:field="${formRecipe.categories}" multiple>
                <option th:each="category : ${allCategories}"
                        th:text="${category.categoryName}"
                        th:value="${category.categoryId}">
                </option>
            </select>
        </div>
        <br>

        <div>
            <h4>
            Ingredients:
            </h4>
        </div>

        <div class="recipeForm" id="ingredients">
            <div th:each="use : *{ingredientUses}">
                <input type="text" name="ingredientNames[]" th:value="${use.ingredient.ingredientName}"
                       placeholder="Ingredient">
                <input type="text" name="amounts[]" th:value="${use.amount}" placeholder="Amount">
                <button type="button" class="remove">Remove</button>
            </div>

            <div th:if="${#lists.isEmpty(formRecipe.ingredientUses)}">
                <input type="text" +
                       name="ingredientNames[]" placeholder="Ingredient">
                <input type="text" name="amounts[]" placeholder="Amount">
                <button type="button" class="remove">Remove</button>
            </div>
        </div>

        <div>
            <button type="button" id="addIngredient">Add another ingredient</button>
        </div>
        <br><br>

        <div>
            <h4>
                Instructions:
            </h4>
        </div>

        <div class="recipeForm" id="instructions" th:attr="data-count=
        ${formRecipe.instructions != null ? formRecipe.instructions.size() : 0}">
            <div th:each="existingInstruction, iteration : *{instructions}">
                <input type="text"
                       th:field="*{instructions[__${iteration.index}__]}"
                       th:placeholder="'Add a step'">
                <button type="button" class="remove">Remove</button>
            </div>

            <div th:if="${#lists.isEmpty(formRecipe.instructions)}">
                <input type="text"
                       th:field="*{instructions[__${0}__]}"
                       th:placeholder="'Add a step'">
                <button type="button" class="remove">Remove</button>

            </div>
        </div>

        <div>
            <button type="button" id="addInstruction">Add another step</button>
        </div>

        <div><input class="btn button-custom" type="submit" value="Save recipe"></div>
    </form>

    <div th:replace="~{fragments/general :: footer}"></div>
    <div th:replace="~{fragments/general :: bottomScripts}"></div>

    <script src="/js/recipeForm.js"></script>
</body>
</html>