<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recipe details</title>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap-icons/font/bootstrap-icons.min.css}">

    <link rel="stylesheet" type="text/css" href="/css/chefmind.css" />
    <link rel="stylesheet" type="text/css" href="/css/recipeOverview.css" />
</head>
<body>
    <div th:replace="~{fragments/general :: navbar}"></div>

    <div class="container-recipes">
        <h1>Recipes</h1>

        <div th:replace="~{fragments/general :: recipeCards}"></div>

        <div class="footer">
            <div th:replace="~{fragments/general :: footer}"></div>
            <div th:replace="~{fragments/general :: bottomScripts}"></div>
        </div>
    </div>
</body>
</html>