<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments/general :: baseheader(~{:: title})}">
    <title>Recipes</title>
</head>
<body>
    <div th:replace="~{fragments/general :: navbar}"></div>

    <h1><span th:text="${recipe.name}"></span></h1>

    <div>
        <p>Serving size: <span th:text="${recipe.servingSize}"></span></p>
        <p>Cooking time: <span th:text="${recipe.time}"></span></p>
        <p>Instructions: </p>
        <ol>
            <li th:each="instruction: ${recipe.instructions}"
                th:if="${!#strings.isEmpty(instruction)}"
                th:text="${instruction}"></li>
        </ol>
    </div>

    <table>
        <thead>
            <tr>
                <td>Ingredient</td>
                <td>Amount</td>
            </tr>
        </thead>

        <tr th:each="ingredientUse : ${recipe.getIngredientUses()}">
            <td th:text="${ingredientUse.ingredient.ingredientName}"></td>
            <td th:text="${ingredientUse.amount}"></td>
        </tr>
    </table>
    </div>

    <div th:replace="~{fragments/general :: footer}"></div>
    <div th:replace="~{fragments/general :: bottomScripts}"></div>

</body>
</html>