<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recipe details</title>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap-icons/font/bootstrap-icons.min.css}">

    <link rel="stylesheet" type="text/css" href="/css/chefmind.css" />
    <link rel="stylesheet" type="text/css" href="/css/recipedetails.css" />
</head>

<body>
    <div th:replace="~{fragments/general :: navbar}"></div>

    <h1><span th:text="${recipe.name}"></span></h1>

    <div class="recipe-part">
        <p><b>Serving size:</b> <span th:text="${recipe.servingSize}"></span></p>
        <p><b>Cooking time:</b> <span th:text="${recipe.time}"></span></p>
        <p><b>Categories:</b>
            <span th:each="category : ${recipe.categories}">
                <span th:text="${category.categoryName}"></span>
            </span></p>
    </div>

    <div class="recipe-part">
        <table>
            <thead>
            <tr>
                <th scope="col">Ingredient</th>
                <th scope="col">Amount</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="ingredientUse : ${recipe.getIngredientUses()}">
                <td th:text="${ingredientUse.ingredient.ingredientName}"></td>
                <td th:text="${ingredientUse.amount}"></td>
            </tr>
            </tbody>
        </table>

        <a class="btn button-custom" th:href="@{/ingredientuse/add}">Add new ingredient use</a>
    </div>

    <div class="recipe-part">
        <p><b>Instructions:</b></p>
        <ol>
            <li th:each="instruction: ${recipe.instructions}"
                th:if="${!#strings.isEmpty(instruction)}"
                th:text="${instruction}"></li>
        </ol>
    </div>

    <div th:replace="~{fragments/general :: footer}"></div>
    <div th:replace="~{fragments/general :: bottomScripts}"></div>

</body>
</html>