<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recipe details</title>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap-icons/font/bootstrap-icons.min.css}">

    <link rel="stylesheet" type="text/css" href="/css/chefmind.css" />
    <link rel="stylesheet" type="text/css" href="/css/recipeOverview.css" />
</head>
<body>
    <div th:replace="~{fragments/general :: navbar}"></div>

    <h1>Recipes</h1>

        <div class="recipe-grid">
            <div th:each="recipe : ${recipes}">
                <div class="recipe-card">
                    <img th:src="${recipe.image}" alt="nothing">
                    <div class="recipe-info">
                        <a th:href="@{/recipe/detail/{name}(name = ${recipe.name})}" th:text="${recipe.name}"></a>
                        <p>🍽️ <span th:text="${recipe.servingSize}">4</span> servings &nbsp;
                            ⏱️ <span th:text="${recipe.time}">30</span> min</p>
                    </div>
                </div>

<!--                <a th:href="@{/recipe/edit/{recipeName}(recipeName = ${recipe.name})}">edit</a>-->
<!--                <a th:href="@{/recipe/delete/{recipeId}(recipeId = ${recipe.recipeId})}">delete</a>-->
            </div>
        </div>

    <form th:action="@{/recipe/new}" method="post" th:object="${formRecipe}">
        Recipe name: <input type="text" th:field="*{name}">
        <input class="btn button-custom" type="submit" value="Add new recipe">
    </form>

    <div th:replace="~{fragments/general :: footer}"></div>
    <div th:replace="~{fragments/general :: bottomScripts}"></div>

</body>
</html>